html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 94, 0);
}

.navbar{
    background-color: rgb(255, 94, 0) !important;
}

.navbar-light .navbar-brand {
    font-family: 'Righteous', cursive;
    color: rgb(128, 0, 128) !important;
    font-size: 40px;
}

.navbar-nav li {
    padding-right: 30px;
}

.navbar-nav li a h5 {
    color: rgb(128, 0, 128);
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

#home {
    background-color: rgb(255, 94, 0);
    width: 100%;
    height: calc(90vh - 70px);
    background-image: url('hackhouston2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 20px;
}

.col-md-6 {
    color: rgb(128, 0, 128);
    font-family: 'Varela Round', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.col-md-6 h2 {
    font-weight: bold;
}

.col-md-6 hr {
    border: 3px solid rgb(128, 0, 128);
    border-radius: 50px;
}

footer {
    background-color: rgb(128, 0, 128);
    padding: 2% 5% 2% 5%;
    width: 100%;
}

footer h2, footer h4 {
    color: rgb(255, 94, 0);
}

footer p {
    color: rgb(255, 94, 0);
    font-family: 'Righteous', cursive;
    font-size: 80px;
}

.fab {
    color: rgb(255, 94, 0);
    font-size: 45px;
    padding: 25px;
}

